<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>juegoCoursera1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F35638B21C7CFD2C009CA942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F35638C61C7CFD2D009CA942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F35638D11C7CFD2D009CA942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
